.form-padding-register {
    padding-top: 75px;
}

.form-padding-login {
    padding-top: 150px;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

label {
    color: #fff;
}

.button-padding {
    padding-top: 30px;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

#wrapper {
    width: 100%;
    overflow: hidden; /* add this to contain floated children */
}

#first {
    width: 40%;
    float:left; /* add this */
}
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/2.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
}

/* ----------------------------------------------- */
/* NAV BAR */
/* ----------------------------------------------- */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ----------------------------------------------- */
/* IMAGES */
/* ----------------------------------------------- */

.section-img {
    padding: 0;
}

.img-showcase {
    list-style: none;
    width: 100%;
}

.img-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.game-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.game-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.game-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


#second {
    width: 60%;
    text-align: center;
    float: right; /* add this */
}

#availableCards {
    float: right;
}

.classintd12 {
    text-align: center;
    vertical-align: top;
}

.classintd21 {
    text-align: left;
    vertical-align: center;
}

.classintd23 {
    text-align: right;
    vertical-align: center;
}

.classintd32 {
    text-align: center;
    vertical-align: bottom;
}

.classintd22 {
    text-align: center;
    vertical-align: center;
}

.classintd11 {
    visibility: hidden;
}

.classintd13 {
    visibility: hidden;
}

.classintd31 {
    visibility: hidden;
}

.classintd33 {
    visibility: hidden;
}