<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/css/grid.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Card Game</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <header class="header-bg">
            <nav>
                <div class="row">
                    <ul class="main-nav">
                        {% if current_user.is_authenticated %}<li><a href="http://192.168.125.231:5004/logout">Logout</a></li>{% else %}<li><a href="http://192.168.125.231:5004/login">Login</a></li>{% endif %}
                        <li><a href="http://192.168.125.231:5004/register">Register</a></li>
                        <li><a href="http://192.168.125.231:5004/game">Play Game</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="section-img">
            <ul class="img-showcase clearfix">
                <li>
                    <figure class="game-photo">
                        <img src="static/img/1.jpg" alt="In Game I">
                    </figure>
                </li>
                <li>
                    <figure class="game-photo">
                        <img src="static/img/1.jpg" alt="In Game II">
                    </figure>
                </li>
                <li>
                    <figure class="game-photo">
                        <img src="static/img/1.jpg" alt="In Game III">
                    </figure>
                </li>
                <li>
                    <figure class="game-photo">
                        <img src="static/img/1.jpg" alt="Chat">
                    </figure>
                </li>
            </ul>    
        </section>
    </body>
</html>