<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/css/grid.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <title>Card Game</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <header class="header-bg">
            <nav>
                <div class="row">
                    <ul class="main-nav">
                        <li><a href="http://192.168.125.231:5004/game">Play Game</a></li>
                        {% if current_user.is_authenticated %}<li><a href="http://192.168.125.231:5004/logout">Logout</a></li>{% else %}<li><a href="http://192.168.125.231:5004/login">Login</a></li>{% endif %}
                        <li><a href="http://192.168.125.231:5004/register">Register</a></li>  
                    </ul>
                </div>
            </nav>
            <div class="form-padding-login">
                <div class="row">
                    <form method="post">
                    {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="email">{{ form.email.label }}</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="email" name="email" id="email" placeholder="Your E-mail" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label for="password">{{ form.password.label }}</label>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="password" name="password" id="password" placeholder="Your Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label>&nbsp;</label>
                            </div>
                            <div class="col span-2-of-3">
                                <div class="button-padding">
                                    {{ form.submit() }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <section class="section-img">
            <ul class="img-showcase clearfix">
                <li>
                    <figure class="game-photo">
                        <img id='myImg1' src="static/img/1.jpg" alt="In Game I">
                    </figure>
                </li>
                <li>
                    <figure class="game-photo">
                        <img id='myImg2' src="static/img/1.jpg" alt="In Game II">
                    </figure>
                </li>
                <li>
                    <figure class="game-photo">
                        <img id='myImg3' src="static/img/1.jpg" alt="In Game III">
                    </figure>
                </li>
                <li>
                    <figure class="game-photo">
                        <img id='myImg4' src="static/img/1.jpg" alt="Chat">
                    </figure>
                </li>
            </ul>    
        </section>
        <div id="myModal" class="modal">

          <a href="http://192.168.125.231:5004">&times;</a>

          <img class="modal-content" id="img01">

          <div id="caption"></div>
        </div>
    </body>
    <script>

            var modal = document.getElementById('myModal');

            var img = document.getElementById('myImg1');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
            
            var img2 = document.getElementById('myImg2');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img2.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
            
            var img3 = document.getElementById('myImg3');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img3.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
            
            var img4 = document.getElementById('myImg4');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img4.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            var closeButton = document.getElementsByClassName('close');

            closeButton.onclick = function() { 
              modal.style.display = "none";
            }
        </script>
</html>