<body>

<table border="1">
<tr>
<td height=100px width=100px> 
  <table border="0">
    <tr>
              <td height=30px width=30px> </td>
              <td align="center" valign="top" height=30px width=30px><label id=label2>t</label> </td>
              <td height=30px width=30px> </td>
              </tr>
              <tr>
              <td align="left" valign="middle" height=30px width=30px><label id=label2>l</label> </td>
              <td align="center" valign="middle" height=30px width=30px><label id=label2>name</label> </td>
              <td align="right" valign="middle" height=30px width=30px><label id=label2>r</label> </td>
              </tr>
              <tr>
              <td height=30px width=30px> </td>
              <td align="center" valign="bottom" height=30px width=30px><label id=label2>b</label> </td>
              <td height=30px width=30px> </td>
    </tr>
  </table>
</td>
</tr>
<table>

</body>